
.heart{
    width: 100px;
    height: 100px;
    background-color: rgb(237, 54, 54);
    position: relative;
    margin: 100px;
    animation-name: heart;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    &::before{
        content: "";
        width: 100px;
        height: 100px;
        background-color: rgb(237, 54, 54);
        position: absolute;
        top: -50px;
        left: 0px;
        border-radius: 100px
        
    }
    &::after{
        content: "";
        width: 100px;
        height: 100px;
        background-color: rgb(237, 54, 54);
        position: absolute;
        top: 0px;
        right: 50px;
        border-radius: 100px
    }
}

span{
    position: absolute;
    top: 30px;
    left: 20px;
    color: white;
    font-size: 15px;
    z-index: 1;
    transform: rotate(-45deg);

}

@keyframes heart{
    0%{
        transform: rotate(45deg) scale(1);
    }
    66.67%{
        transform: rotate(45deg) scale(1.2);
    }
    100%{
        transform:rotate(45deg) scale(1);
    }
}